@model String

@{
	ViewData["Title"] = "Thank You";
}

<h1>@ViewData["Title"]</h1>

<div>
	<p>Thank You for submitting your response!!</p>

	@if (Model == "Yes")
	{
		<div class="alert alert-success" role="alert">
			We are thrilled that you are joining us!! 😊
		</div>
	}
	else
	{
		<div class="alert alert-danger" role="alert">
			We are sorry that you won't be joining us 😟
		</div>
	}

</div>

<a asp-controller="Course" asp-action="List">All Courses</a>